<% if (title){ %>
    <h1><%= title %></h1>
    <%} else {
        res.redifect('/')
    } %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
        </ul>
    <%} %>
    <%- messages() %>

    <div class="formDiv">
        <form action="/inv/addClass" method="post"><br>
            <label>Classification Name</label><br>
            <span>Name must be alphabetical characters only</span><br>
            <input type="text" id="classificationName" name="classification_name" required pattern="^[A-Za-z]+.{3,}"><br>
            <input type="submit" value="Add Class">
        </form>

    </div>